/************* RESET **************/

* {
  margin: 0px;
  padding: 0px;
}

/************* GENERAL **************/


body {
  margin: 0px;    

  font-family: 'Work Sans', 'Arial', 'Sans Serif';
  font-size: 15px;
  font-weight: normal;
  line-height: 125%;
  color: #212529;
}

h1 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 40px;
  font-weight: bold;
  line-height: 125%;
}

h2 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 32px;
  font-weight: bold;
  line-height: 125%;
}

h3 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 28px;
  font-weight: bold;
  line-height: 125%;
}

h4 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 24px;
  font-weight: bold;
  line-height: 125%;
}

h5 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

h6 {
  font-family: 'Crimson Text', 'Arial', 'Sans Serif';
  font-size: 16px;
  font-weight: bold;
  line-height: 125%;
}




/************* HEADER **************/


header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #00420C;
  color: #FFFFFF;
  padding: 50px 150px;
}


header #institution {
  display: flex;
  gap: 30px;
}

header #institution h1 {
  white-space: nowrap;
}

header #navigation-links-header {
  display: flex;
  gap: 30px;
  list-style-type: none;
  font-size: 20px;
  
}

header #navigation-links-header li {
  padding: 12px 8px;
  text-transform: capitalize;
  /*border: 1px yellow solid;*/
}

header #navigation-links-header li:hover {
  background-color: #2f9e41;
  border-radius: 5px;
  cursor: pointer;
}

/************* MAIN **************/


main {
  display: grid;
  grid-template-rows: repeat(2, minmax(content, 1fr));
  /*grid-template-columns: repeat(auto-fit, minmax(content, 1fr));*/
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    'presentation presentation'
    'form map';
}

#presentation-section {
  grid-area: presentation;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

#presentation-section > h2{
  text-transform: capitalize;
}

form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input:not(:last-of-type) {
  background-color: #EEEEEE;
  border-radius: 5px;
  height: 25px;
}

form input:last-of-type {
  background-color: #212529;
  color: white;
  border-radius: 5px;
  padding: 6px;
}


#map-section {
  grid-area: map;
}



/************* FOOTER **************/


footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #00420C;
  color: #FFFFFF;
  padding: 50px 150px;
}

footer #social-section-footer {
  display: flex;
  gap: 30px;
}

